
<div>
      <% @challenges.each do | challenge | %>
        <div class="challenge">
          <h1><%= challenge.title %></h1>
          <%= link_to( image_tag(challenge.image_location) , {:action => 'show', :id=> challenge.id}) %>
        </div>
      <% end %>
</div>
