<h3>User</h3>
<p>Name: <%= @user.name if @user.name %></p>
<p>Email: <%= @user.email if @user.email %></p>
<h3>Here are the projects you've already completed:</h3>
<div class="row">
    <div class="col-xs-6 col-sm-3">
        <img src="http://www.paulmakes.com/images/bridge_new_01.jpg" alt="..." class="img-circle img-responsive">
    </div>
    <div class="col-xs-6 col-sm-3">
        <img src="http://www.paulmakes.com/images/bridge_new_01.jpg" alt="..." class="img-circle img-responsive">
    </div>
    <div class="col-xs-6 col-sm-3">
        <img src="http://www.paulmakes.com/images/bridge_new_01.jpg" alt="..." class="img-circle img-responsive">
    </div>
    <div class="col-xs-6 col-sm-3">
        <img src="http://www.paulmakes.com/images/bridge_new_01.jpg" alt="..." class="img-circle img-responsive">
    </div>

</div>