
<div id="challenge">
      <div class="jumbotron">
        <h1>Island MADNESS</h1>
        <p class="lead">You woke up and find yourself on a stranded island. Oh No! What are you going to do? You look around and see another island...and it has FOOD! But wait, how are you going to get over there? Then you think, I can build a bridge?</p>
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
            <%= image_tag("island_madness.jpg") %>
        </div>

        <div class="col-lg-6">
          <h4>Mission</h4>
          <p>Build a bridge to get to other island that has food.</p>

          <h4>Materials</h4>
          <ul>
            <li>50 drinking straws</li>
            <li>87 centimeters of masking tape</li>
            <li>2 pairs of scissors</li>
            </ul>

          <h4>Constraints</h4>
           <ul>
            <li>No other materials may be used.</li>
               <li>Brige must span a 30 cm distance between supports (two tables).</li>
               <li>The bridge must be portable. It cannot be attached to supports.</li>
               <li>Your bridge must have a space in the middle to hold a small cup.</li>
            </ul>
            
            <p class="challenge-btn">
                <a class="btn btn-lg btn-info" href="#" role="button">Need Help?</a>
            </p>
            <p class="challenge-btn">
                
                <a class="btn btn-lg btn-success" href="<%= challenge_controller_submit_path %>" role="button">Submit Now</a>
            </p>
        </div>
      </div>

      <footer class="footer">
        <div class="company-first">© Operation STEM 2015 </div>
        <div class="company-last">#sheHacksCHI</div>
      </footer>
</div>
