<h1>Congrats!</h1>
<div>
    <div><h2>Real Civil Engineer</h2></div>
    <div><img src="#"/></div>
    <div><p>This is a description for the real engineer</p></div>
</div>
<div>
    <h2>Community Designs</h2>
    <div>
        <div>
            <img src="#"/>
        </div>
        <div>
            <h3>Name</h3>
            <p>Description</p>
        </div>
    </div>
    <div>
        <div>
            <img src="#"/>
        </div>
        <div>
            <h3>Name</h3>
            <p>Description</p>
        </div>
    </div>
    <div>
        <div>
            <img src="#"/>
        </div>
        <div>
            <h3>Name</h3>
            <p>Description</p>
        </div>
    </div>
</div>