/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


/* Challenge specific CSS */

#challenge .jumbotron {
    background-color: #1ACFEF;
}

#challenge p.lead {
    font-family: fantasy;
    color: #fff;
}

#challenge h1 {
    padding-bottom: 20px;
    color: #fff;
}

#challenge h4 {
    text-decoration: underline;
    color: #1ACFEF;
    font-weight: 200;
    font-family: fantasy;
}

p.challenge-btn {
    float: left;
    padding-right: 10px;
}

.modal-body {
    text-align: center;
}


.links {
    color: #1ACFEF;
}

/* Navbar Entire Site */
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #1ACFEF;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #1ACFEF;
    color: #fff;
}

.nav a {
    color: #1ACFEF;
}

.logo {
  width: 150px;
  display: initial;
}

/* Footer */
footer div.company-first {
    float: left;
}

footer div.company-last {
    float: right;
}


/*******************/
/*Submission styles*/
/******************/

.take-pic{
    width: 35%;
    border-radius: 40%;
    padding-bottom: 30px;
}

h1 {
    padding-bottom: 20px;
    color: #1ACFEF;
    text-align: center;
    font-family: fantasy;
}

.submit-text {
    font-size: 150%;
    text-align: center;
    font-weight: 200;
}


.form-control {
    margin: 0 0 30px 0;
}

input.form-control.btn {
   max-width: 150px;
    text-align-last: center;
    margin-left: 40%;
}



/*******************/
/*Results View*/
/******************/

.project-submit {
    font-weight: 200;
    text-align: center;

}

.jumbotron {
    background-color: #fff;   
}

h2, .engineer {
    font-weight: 200; 
    font-family: fantasy;
    color: #1ACFEF;
    text-align: center;
}

.engineer-profile {
    border-radius: 30px;  
    float: right;
    padding-left: 20px;
    
}

.bio-text important! {
    font-size: 45%; 
    float: left;
}

h4, .other-girls {
    text-align: center;
    
}

.other-girls {
    font-size: 200%;
    font-weight: 200;
}


.center-block {
    padding-top: 20px;   
}

.next-challenge {
    border-radius: 45%;   
}


.challenge img {
    width: 150px;
   
}

.challenge {
    position: relative;
    display: inline-block;
    margin-left: 33px;
}






















