<%# navigation styled for Bootstrap 3.0 %>
<div class="header clearfix">
    <%= render 'layouts/navigation_links' %>
    <%= image_tag("logo.png", class: "text-muted logo")%>
    <!-- <%= image_tag("logo.png") %> -->
</div>
